* {
    text-align: center;
    color: #232525;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #B8E1FF;
}

#home {
    display: flex;
}

#intro {
    margin-top: 100px
}

.start-button {
    text-align: center;
    background-color: #232525;
    color: #BCB6FF;
    padding: 50px;
    margin-left: 650px;
    margin-top: 200px;
}

button:hover {
    background-color: #0075A2;
    cursor: pointer;
}

#question {
    display: none;
}

/* TODO make score/initials component have display: none */

/* TODO style all components and make everything pretty */